body {
    position: relative;
    background-image: url(img/fondo2.png);
    background-repeat: repeat;
    background-size: 300px;
}
@font-face{
    font-family: "bellasharkir";
    src: url("font/bella\ shakir.ttf")
}

#titulo {
    display: grid;
    place-items: center;
}

#titulo {
    font-size: 100px;
    color:rgb(185, 109, 255);
    text-align: center;
    text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.753);
    font-family: "bellasharkir";
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    width: 100%;
    margin-top: 40px;
}

.post{
    display: flex;
    align-items:center;
    gap: 15px;
    padding: 10px;
    border-radius: 12px;
    transition: all 0.35s ease;
    cursor: pointer;
    height: auto;
}

#imagenlibro{
    width: 220px;
}

#descripcionlibro{
    max-width: 0px;
    overflow: hidden;
    opacity: 0;
    transition: all 0.35s ease;
}

.post.activa{
    background: lightblue;
    box-shadow: 0 15px 25px rgba(0,0,0,0.25);
    transform: scale(1.05);
}

.post.activa #descripcionlibro{
    max-width: 300px;
    opacity: 1;
}
